<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * POPPER DEMO! :) * * * * * * * * * * * -->
<!-- * * * * * * * * * cloned from popper.js.org * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="content"
	 role="main">

	<div class="pop-demo">
        <article pop-overflow>
            <div class="pop-popcorn-wrap">
                <float-ui-content #popcornPrices>
                    <p class="pop-text-bold">POPCORN<br />SIZE<br />& PRICE</p>
                    <ul>
                        <li>XXS: $1.99</li>
                        <li>XS: $2.99</li>
                        <li>S: $3.99</li>
                        <li>M: $4.99</li>
                        <li>L: $5.99</li>
                        <li>XL: $6.99</li>
                        <li>XXL: $7.99</li>
                    </ul>
                </float-ui-content>
                <img alt="Popcorn box"
                     src="assets/images/popcorn-box.svg"
                     [floatUi]="popcornPrices"
                     [showOnStart]="true"
                     trigger="click"
                     [placement]="popperPlacements.RIGHT"
                     class="pop-popcorn-box">
            </div>
            <div>
                <h3 class="pop-title-light">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path d="M6.13 1L6 16a2 2 0 0 0 2 2h15"></path>
                        <path d="M1 6.13L16 6a2 2 0 0 1 2 2v15"></path>
                    </svg>
                    Overflow prevention (Shift)
                </h3>
                <p><strong>Scroll the container</strong> (or the whole page) to see the tooltip stay within the
                    boundary. Once the opposite edges of the popcorn and tooltip
                    are aligned, the tooltip is allowed to
                    overflow to prevent detachment.</p>
                <pre><code pop-overflow-code></code></pre>
            </div>
        </article>
	</div>

</div>
<footer>
	<p>Created with ♥ by <a class="pop-link-yellow"
							href="https://tonysamperi.github.io"
							target="_blank">Tony
		Samperi</a>
	</p>
	<p>© {{ year }} MIT License</p>
</footer>
